body {
    background-image: url(./images/feather_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header h1 {
    color: chartreuse;
    text-align: center;
    text-decoration: underline;
    margin: 50px;
}

h5.card-title, h6 {
    text-align: center;
    font-size: x-large;
    background-color: chartreuse;
    margin: 0%;
    padding: 0%;
}

div.card {
    margin: 15px;
    padding: 10px;
}

div.gen-button {
    text-align: center;
}

button.btn-primary {
    margin-top: 10px;
}